<a href="https://colab.research.google.com/github/anyfish/ai_lab_school_class/blob/main/Weather_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Auto-Evaluación

Se dan 6 archivos para dejar en un formato simple usando los conceptos de [tidy data](https://vita.had.co.nz/papers/tidy-data.pdf) de Hadley Wickham.

La tarea principal es unir los 6 archivos de weather* , combinar las columnas de tal manera que se cree una única columna de fecha y otras columnas con las variables que se observan:



| date | maxT | meanT | minT | … |
| ------------ | ------ | ------| -----| ----- | 
|2014-12-01 | 64 | 52|  39 |… |
|2014-12-02 | 42 | 38|  33 | … |

Las tareas secundarias son:
* graficar temperaturas vs date
* predecir la temperatura del siguiente día del último registro usando regresión lineal con los últimos 10 pasos.

* se puede utilizar el tutorial de [25 trucos en pandas](https://nbviewer.org/github/justmarkham/pandas-videos/blob/master/top_25_pandas_tricks.ipynb), la función [melt](https://towardsdatascience.com/wide-to-long-data-how-and-when-to-use-pandas-melt-stack-and-wide-to-long-7c1e0f462a98) y lo que sea necesario.

In [ ]:
!wc *.txt

   287   1996  20951 weather01.txt
   287   1686  21525 weather02.txt
   287   2251  18942 weather03.txt
   287   1964  19516 weather04.txt
   287   2253  22960 weather05.txt
   287   1410  12341 weather06.txt
  1722  11560 116235 total

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
w1 = pd.read_csv("weather01.txt",sep='\s+')
w1

       X  year  month            measure    X1   X2
1      1  2014     12   Max.TemperatureF    64   42
2      2  2014     12  Mean.TemperatureF    52   38
3      3  2014     12   Min.TemperatureF    39   33
4      4  2014     12     Max.Dew.PointF    46   40
5      5  2014     12     MeanDew.PointF    40   27
..   ...   ...    ...                ...   ...  ...
282  282  2015     12  Max.Gust.SpeedMPH    17  NaN
283  283  2015     12    PrecipitationIn  0.14  NaN
284  284  2015     12         CloudCover     7  NaN
285  285  2015     12             Events  Rain  NaN
286  286  2015     12     WindDirDegrees   109  NaN

[286 rows x 6 columns]

In [ ]:
from glob import glob
weatherfiles = sorted(glob('weather*.txt'))
weatherfiles

['weather01.txt',
 'weather02.txt',
 'weather03.txt',
 'weather04.txt',
 'weather05.txt',
 'weather06.txt']

In [ ]:
weather = pd.concat((pd.read_csv(file,sep='\s+') for file in weatherfiles), axis = 'columns')
weather

,X,year,month,measure,X1,X2,X3,X4,X5,X6,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
1,1,2014,12,Max.TemperatureF,64,42,51,43,42,45,...,44,47,46,59,50,52.0,52,41,30,30.0
2,2,2014,12,Mean.TemperatureF,52,38,44,37,34,42,...,39,45,44,52,44,45.0,46,36,26,25.0
3,3,2014,12,Min.TemperatureF,39,33,37,30,26,38,...,33,42,41,44,37,38.0,40,30,22,20.0
4,4,2014,12,Max.Dew.PointF,46,40,49,24,37,45,...,39,45,46,58,31,34.0,42,26,10,8.0
5,5,2014,12,MeanDew.PointF,40,27,42,21,25,40,...,34,42,44,43,29,31.0,35,20,4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,282,2015,12,Max.Gust.SpeedMPH,17,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,283,2015,12,PrecipitationIn,0.14,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,284,2015,12,CloudCover,7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,285,2015,12,Events,Rain,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,286,2015,12,WindDirDegrees,109,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
weather.drop(columns='X', inplace=True)
weather

,year,month,measure,X1,X2,X3,X4,X5,X6,X7,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
1,2014,12,Max.TemperatureF,64,42,51,43,42,45,38,...,44,47,46,59,50,52.0,52,41,30,30.0
2,2014,12,Mean.TemperatureF,52,38,44,37,34,42,30,...,39,45,44,52,44,45.0,46,36,26,25.0
3,2014,12,Min.TemperatureF,39,33,37,30,26,38,21,...,33,42,41,44,37,38.0,40,30,22,20.0
4,2014,12,Max.Dew.PointF,46,40,49,24,37,45,36,...,39,45,46,58,31,34.0,42,26,10,8.0
5,2014,12,MeanDew.PointF,40,27,42,21,25,40,20,...,34,42,44,43,29,31.0,35,20,4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,2015,12,Max.Gust.SpeedMPH,17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,2015,12,PrecipitationIn,0.14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,2015,12,CloudCover,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,2015,12,Events,Rain,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,2015,12,WindDirDegrees,109,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
weathermelt = weather.melt(id_vars=['year','month','measure'])
weathermelt

      year  month            measure variable value
0     2014     12   Max.TemperatureF       X1    64
1     2014     12  Mean.TemperatureF       X1    52
2     2014     12   Min.TemperatureF       X1    39
3     2014     12     Max.Dew.PointF       X1    46
4     2014     12     MeanDew.PointF       X1    40
...    ...    ...                ...      ...   ...
8861  2015     12  Max.Gust.SpeedMPH      X31   NaN
8862  2015     12    PrecipitationIn      X31   NaN
8863  2015     12         CloudCover      X31   NaN
8864  2015     12             Events      X31   NaN
8865  2015     12     WindDirDegrees      X31   NaN

[8866 rows x 5 columns]

In [ ]:
weathermelt.variable = weathermelt.variable.replace('X','',regex=True).astype(int)
weathermelt

      year  month            measure  variable value
0     2014     12   Max.TemperatureF         1    64
1     2014     12  Mean.TemperatureF         1    52
2     2014     12   Min.TemperatureF         1    39
3     2014     12     Max.Dew.PointF         1    46
4     2014     12     MeanDew.PointF         1    40
...    ...    ...                ...       ...   ...
8861  2015     12  Max.Gust.SpeedMPH        31   NaN
8862  2015     12    PrecipitationIn        31   NaN
8863  2015     12         CloudCover        31   NaN
8864  2015     12             Events        31   NaN
8865  2015     12     WindDirDegrees        31   NaN

[8866 rows x 5 columns]

In [ ]:
weathermelt.dropna(inplace=True)

In [ ]:
weathermelt.rename(columns ={'variable':'day'},inplace=True)

In [ ]:
weathermelt['date'] = pd.to_datetime(weathermelt[['year','month','day']])
weathermelt

      year  month             measure  day  value       date
0     2014     12    Max.TemperatureF    1     64 2014-12-01
1     2014     12   Mean.TemperatureF    1     52 2014-12-01
2     2014     12    Min.TemperatureF    1     39 2014-12-01
3     2014     12      Max.Dew.PointF    1     46 2014-12-01
4     2014     12      MeanDew.PointF    1     40 2014-12-01
...    ...    ...                 ...  ...    ...        ...
8816  2015     10  Mean.Wind.SpeedMPH   31    7.0 2015-10-31
8817  2015     10   Max.Gust.SpeedMPH   31   17.0 2015-10-31
8818  2015     10     PrecipitationIn   31    0.0 2015-10-31
8819  2015     10          CloudCover   31    4.0 2015-10-31
8821  2015     10      WindDirDegrees   31  224.0 2015-10-31

[7845 rows x 6 columns]

In [ ]:
weathermelt.drop(['year','month','day'],axis=1,inplace=True)

In [ ]:
weathermelt

                 measure  value       date
0       Max.TemperatureF     64 2014-12-01
1      Mean.TemperatureF     52 2014-12-01
2       Min.TemperatureF     39 2014-12-01
3         Max.Dew.PointF     46 2014-12-01
4         MeanDew.PointF     40 2014-12-01
...                  ...    ...        ...
8816  Mean.Wind.SpeedMPH    7.0 2015-10-31
8817   Max.Gust.SpeedMPH   17.0 2015-10-31
8818     PrecipitationIn    0.0 2015-10-31
8819          CloudCover    4.0 2015-10-31
8821      WindDirDegrees  224.0 2015-10-31

[7845 rows x 3 columns]

In [ ]:
weatherf = weathermelt.pivot(index='date',columns='measure',values='value').reset_index()

In [ ]:
weatherf

measure,date,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,...,Mean.VisibilityMiles,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees
0,2014-12-01,6,Rain,46,29,74,30.45,64,10,22,...,10,13,40,26,52,30.01,39,10,0.01,268
1,2014-12-02,7,Rain-Snow,40,29,92,30.71,42,10,24,...,8,15,27,17,51,30.4,33,2,0.10,62
2,2014-12-03,8,Rain,49,38,100,30.4,51,10,29,...,5,12,42,24,57,29.87,37,1,0.44,254
3,2014-12-04,3,Rain,24,33,69,30.56,43,10,25,...,10,12,21,13,39,30.09,30,10,0.00,292
4,2014-12-05,5,Rain,37,26,85,30.68,42,10,22,...,10,10,25,12,47,30.45,26,5,0.11,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2015-11-27,7.0,NaN,52.0,32.0,100.0,30.63,64.0,10.0,26.0,...,9.0,14.0,49.0,47.0,56.0,30.15,48.0,5.0,0.0,209.0
362,2015-11-28,8,Rain,50,23,93,30.2,60,10,18,...,9,10,43,36,67,30.11,41,4,0.21,358
363,2015-11-29,4,NaN,33,20,79,30.42,44,10,16,...,10,10,23,15,36,30.19,32,10,0.00,326
364,2015-11-30,6,NaN,26,17,75,30.53,38,10,14,...,10,9,23,18,54,30.39,28,10,0.00,65
365,2015-12-01,7,Rain,43,17,96,30.4,45,10,15,...,8,6,35,25,69,30.01,32,1,0.14,109

In [ ]:
weatherf.iloc[0:,1:30]

measure,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Humidity,...,Mean.VisibilityMiles,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees
0,6,Rain,46,29,74,30.45,64,10,22,63,...,10,13,40,26,52,30.01,39,10,0.01,268
1,7,Rain-Snow,40,29,92,30.71,42,10,24,72,...,8,15,27,17,51,30.4,33,2,0.10,62
2,8,Rain,49,38,100,30.4,51,10,29,79,...,5,12,42,24,57,29.87,37,1,0.44,254
3,3,Rain,24,33,69,30.56,43,10,25,54,...,10,12,21,13,39,30.09,30,10,0.00,292
4,5,Rain,37,26,85,30.68,42,10,22,66,...,10,10,25,12,47,30.45,26,5,0.11,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,7.0,NaN,52.0,32.0,100.0,30.63,64.0,10.0,26.0,78.0,...,9.0,14.0,49.0,47.0,56.0,30.15,48.0,5.0,0.0,209.0
362,8,Rain,50,23,93,30.2,60,10,18,80,...,9,10,43,36,67,30.11,41,4,0.21,358
363,4,NaN,33,20,79,30.42,44,10,16,58,...,10,10,23,15,36,30.19,32,10,0.00,326
364,6,NaN,26,17,75,30.53,38,10,14,65,...,10,9,23,18,54,30.39,28,10,0.00,65
365,7,Rain,43,17,96,30.4,45,10,15,83,...,8,6,35,25,69,30.01,32,1,0.14,109

In [ ]:
weatherf['Events'].value_counts()

Rain                          90
Snow                          31
Rain-Snow                     10
Fog-Rain                       8
Fog-Snow                       7
Fog                            6
Fog-Rain-Snow                  4
Rain-Thunderstorm              4
Fog-Rain-Thunderstorm          3
Thunderstorm                   1
Fog-Rain-Hail-Thunderstorm     1
Name: Events, dtype: int64

In [ ]:
flatcolumns = weatherf.columns.map("-".join)
flatcolumns

Index(['d-a-t-e', 'C-l-o-u-d-C-o-v-e-r', 'E-v-e-n-t-s',
       'M-a-x-.-D-e-w-.-P-o-i-n-t-F', 'M-a-x-.-G-u-s-t-.-S-p-e-e-d-M-P-H',
       'M-a-x-.-H-u-m-i-d-i-t-y',
       'M-a-x-.-S-e-a-.-L-e-v-e-l-.-P-r-e-s-s-u-r-e-I-n',
       'M-a-x-.-T-e-m-p-e-r-a-t-u-r-e-F',
       'M-a-x-.-V-i-s-i-b-i-l-i-t-y-M-i-l-e-s',
       'M-a-x-.-W-i-n-d-.-S-p-e-e-d-M-P-H', 'M-e-a-n-.-H-u-m-i-d-i-t-y',
       'M-e-a-n-.-S-e-a-.-L-e-v-e-l-.-P-r-e-s-s-u-r-e-I-n',
       'M-e-a-n-.-T-e-m-p-e-r-a-t-u-r-e-F',
       'M-e-a-n-.-V-i-s-i-b-i-l-i-t-y-M-i-l-e-s',
       'M-e-a-n-.-W-i-n-d-.-S-p-e-e-d-M-P-H', 'M-e-a-n-D-e-w-.-P-o-i-n-t-F',
       'M-i-n-.-D-e-w-p-o-i-n-t-F', 'M-i-n-.-H-u-m-i-d-i-t-y',
       'M-i-n-.-S-e-a-.-L-e-v-e-l-.-P-r-e-s-s-u-r-e-I-n',
       'M-i-n-.-T-e-m-p-e-r-a-t-u-r-e-F',
       'M-i-n-.-V-i-s-i-b-i-l-i-t-y-M-i-l-e-s',
       'P-r-e-c-i-p-i-t-a-t-i-o-n-I-n', 'W-i-n-d-D-i-r-D-e-g-r-e-e-s'],
      dtype='object', name='measure')

In [ ]:
weather_flat = (
    weatherf.set_axis(flatcolumns,axis=1).reset_index()
)

In [ ]:
weather_flat

measure,index,d-a-t-e,C-l-o-u-d-C-o-v-e-r,E-v-e-n-t-s,M-a-x-.-D-e-w-.-P-o-i-n-t-F,M-a-x-.-G-u-s-t-.-S-p-e-e-d-M-P-H,M-a-x-.-H-u-m-i-d-i-t-y,M-a-x-.-S-e-a-.-L-e-v-e-l-.-P-r-e-s-s-u-r-e-I-n,M-a-x-.-T-e-m-p-e-r-a-t-u-r-e-F,M-a-x-.-V-i-s-i-b-i-l-i-t-y-M-i-l-e-s,...,M-e-a-n-.-V-i-s-i-b-i-l-i-t-y-M-i-l-e-s,M-e-a-n-.-W-i-n-d-.-S-p-e-e-d-M-P-H,M-e-a-n-D-e-w-.-P-o-i-n-t-F,M-i-n-.-D-e-w-p-o-i-n-t-F,M-i-n-.-H-u-m-i-d-i-t-y,M-i-n-.-S-e-a-.-L-e-v-e-l-.-P-r-e-s-s-u-r-e-I-n,M-i-n-.-T-e-m-p-e-r-a-t-u-r-e-F,M-i-n-.-V-i-s-i-b-i-l-i-t-y-M-i-l-e-s,P-r-e-c-i-p-i-t-a-t-i-o-n-I-n,W-i-n-d-D-i-r-D-e-g-r-e-e-s
0,0,2014-12-01,6,Rain,46,29,74,30.45,64,10,...,10,13,40,26,52,30.01,39,10,0.01,268
1,1,2014-12-02,7,Rain-Snow,40,29,92,30.71,42,10,...,8,15,27,17,51,30.4,33,2,0.10,62
2,2,2014-12-03,8,Rain,49,38,100,30.4,51,10,...,5,12,42,24,57,29.87,37,1,0.44,254
3,3,2014-12-04,3,Rain,24,33,69,30.56,43,10,...,10,12,21,13,39,30.09,30,10,0.00,292
4,4,2014-12-05,5,Rain,37,26,85,30.68,42,10,...,10,10,25,12,47,30.45,26,5,0.11,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,361,2015-11-27,7.0,NaN,52.0,32.0,100.0,30.63,64.0,10.0,...,9.0,14.0,49.0,47.0,56.0,30.15,48.0,5.0,0.0,209.0
362,362,2015-11-28,8,Rain,50,23,93,30.2,60,10,...,9,10,43,36,67,30.11,41,4,0.21,358
363,363,2015-11-29,4,NaN,33,20,79,30.42,44,10,...,10,10,23,15,36,30.19,32,10,0.00,326
364,364,2015-11-30,6,NaN,26,17,75,30.53,38,10,...,10,9,23,18,54,30.39,28,10,0.00,65
365,365,2015-12-01,7,Rain,43,17,96,30.4,45,10,...,8,6,35,25,69,30.01,32,1,0.14,109

In [ ]:
weather_flat['value-Max.TemperatureF']

KeyError: ignored